In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("okcupid_profiles.csv")

In [5]:
df

,age,status,sex,orientation,body_type,diet,drinks,drugs,education,ethnicity,...,essay0,essay1,essay2,essay3,essay4,essay5,essay6,essay7,essay8,essay9
0,22,single,m,straight,a little extra,strictly anything,socially,never,working on college/university,"asian, white",...,about me: i would love to think that i was so...,currently working as an international agent fo...,making people laugh. ranting about a good salt...,"the way i look. i am a six foot half asian, ha...","books: absurdistan, the republic, of mice and ...",food. water. cell phone. shelter.,duality and humorous things,trying to find someone to hang out with. i am ...,i am new to california and looking for someone...,you want to be swept off your feet! you are ti...
1,35,single,m,straight,average,mostly other,often,sometimes,working on space camp,white,...,i am a chef: this is what that means. 1. i am ...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,i am die hard christopher moore fan. i don't r...,delicious porkness in all of its glories. my b...,NaN,NaN,i am very open and will share just about anyth...,NaN
2,38,available,m,straight,thin,anything,socially,NaN,graduated from masters program,NaN,...,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,okay this is where the cultural matrix gets so...,movement conversation creation contemplation t...,NaN,viewing. listening. dancing. talking. drinking...,"when i was five years old, i was known as ""the...","you are bright, open, intense, silly, ironic, ..."
3,23,single,m,straight,thin,vegetarian,socially,NaN,working on college/university,white,...,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,"bataille, celine, beckett. . . lynch, jarmusch...",NaN,cats and german philosophy,NaN,NaN,you feel so inclined.
4,29,single,m,straight,athletic,NaN,socially,never,graduated from college/university,"asian, black, other",...,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at: http://bagsbrown....,i smile a lot and my inquisitive nature,"music: bands, rappers, musicians at the moment...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59941,59,single,f,straight,NaN,NaN,socially,never,graduated from college/university,NaN,...,"vibrant, expressive, caring optimist. i love b...",the happiest times have been when life came to...,i make an outstanding osso bucco. i am also ve...,"i am told that people notice my smile, eyes an...",i am an avid movie watcher and follow the broa...,"my family, my dog, italy, words and music!",writing my book.,"running with my dog, finishing up the work wee...",i have a dream to sing at the alconquin in nyc...,you are seeking a long term connection of shar...
59942,24,single,m,straight,fit,mostly anything,often,sometimes,working on college/university,"white, other",...,i'm nick. i never know what to write about mys...,currently finishing school for film production...,"filmmaking, photography, graphic design, web d...","dude, i don't know.","movies: hook (the greatest adventure ever!), g...",iphone contact lenses headphones camera tv rem...,i do most of my thinking on the bus to/from wo...,"bringin' home bacon, or drinking and shakin'!",when i was 18 i got a tattoo of waldo somewher...,meh if you made it this far you might as well.
59943,42,single,m,straight,average,mostly anything,not at all,never,graduated from masters program,asian,...,"hello! i enjoy traveling, watching movies, and...","i'm a civil engineer, who enjoys helping the c...",- looking at things objectively - getting thin...,i'm quiet until i get used to the environment ...,"last book: ""game change"". movies: bourne serie...",- iphone - friends and family - internet - bay...,"aside from work, how to improve my home.",out enjoying friendly conversation over dinner.,please let me think about this more.,we have similar interests.
59944,27,single,m,straight,athletic,mostly anything,socially,often,working on college/university,"asian, black",...,"""all i have in this world are my balls and my ...","following my dreams... ""you got a dream... you...",listening,it used to be the hair until i mowed it off bu...,where to begin musically: right now i listen t...,"music, family, friends, a basketball, hoop, so...",what can i do to make someone chuckle....,what i would do on any other day. everydays a ...,i like walking around in other people's house ...,you are interested and interesting...
59945,39,single,m,gay,average,NaN,socially,NaN,graduated from masters program,white,...,"is it odd that having a little ""enemy"" status ...",i work with elderly people (psychotherapy and ...,i'm a great bullshitter. i don't know what it ...,"either that i am funny/sarcastic, or that i am...","i just read the help by kathryn stockett, sooo...",1. family & friends & other humans - interacti...,"sex, myself, other people, how amazing everyth...","out at happy hour with my friends, running int...",i wish i could cry like holly hunter in broadc...,"if you have a back-bone, an opinion, a sense o..."

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   status       59946 non-null  object
 2   sex          59946 non-null  object
 3   orientation  59946 non-null  object
 4   body_type    54650 non-null  object
 5   diet         35551 non-null  object
 6   drinks       56961 non-null  object
 7   drugs        45866 non-null  object
 8   education    53318 non-null  object
 9   ethnicity    54266 non-null  object
 10  height       59943 non-null  float64
 11  income       59946 non-null  int64
 12  job          51748 non-null  object
 13  last_online  59946 non-null  object
 14  location     59946 non-null  object
 15  offspring    24385 non-null  object
 16  pets         40025 non-null  object
 17  religion     39720 non-null  object
 18  sign         48890 non-null  object
 19  smokes       54434 non-null  object
 20  speaks       59896 non-null  object
 21  essay0       54458 non-null  object
 22  essay1       52374 non-null  object
 23  essay2       50308 non-null  object
 24  essay3       48470 non-null  object
 25  essay4       49409 non-null  object
 26  essay5       49096 non-null  object
 27  essay6       46175 non-null  object
 28  essay7       47495 non-null  object
 29  essay8       40721 non-null  object
 30  essay9       47343 non-null  object
dtypes: float64(1), int64(2), object(28)
memory usage: 14.2+ MB

In [7]:
df.describe()

                age        height          income
count  59946.000000  59943.000000    59946.000000
mean      32.340290     68.295281    20033.222534
std        9.452779      3.994803    97346.192104
min       18.000000      1.000000       -1.000000
25%       26.000000     66.000000       -1.000000
50%       30.000000     68.000000       -1.000000
75%       37.000000     71.000000       -1.000000
max      110.000000     95.000000  1000000.000000

In [8]:
df.columns

Index(['age', 'status', 'sex', 'orientation', 'body_type', 'diet', 'drinks',
       'drugs', 'education', 'ethnicity', 'height', 'income', 'job',
       'last_online', 'location', 'offspring', 'pets', 'religion', 'sign',
       'smokes', 'speaks', 'essay0', 'essay1', 'essay2', 'essay3', 'essay4',
       'essay5', 'essay6', 'essay7', 'essay8', 'essay9'],
      dtype='object')

In [9]:
dict_body_type = {
    'a little extra': 'fat',
    'full figured': 'fat',
    'overweight': 'fat',
    'curvey': 'fat',
    'used up': 'fat',
    'average': 'average',
    'athletic': 'average',
    'fit': 'average',
    'jacked': 'average',
    'thin': 'thin',
    'skinny': 'thin',
    'rather not say': 'other'}

dict_drinks = {
    'not at all': 'no',
    'rarely': 'no',
    'socially': 'sometimes',
    'desperately': 'sometimes',
    'often': 'often',
    'very often': 'often'}

dict_education = {
    'working on college/university': 'college',
    'graduated from college/university': 'college',
    'working on two-year college': 'college',
    'college/university': 'college',
    'two-year college': 'college',
    'graduated from two-year college': 'college',
    'dropped out of college/university': 'college',
    'dropped out of two-year college': 'college',
    'graduated from masters program': 'master',
    'working on masters program': 'master',
    'masters program': 'master',
    'dropped out of masters program': 'master',
    'graduated from ph.d program': 'phd',
    'working on ph.d program': 'phd',
    'dropped out of ph.d program': 'phd',
    'ph.d program': 'phd',
    'graduated from law school': 'law_school',
    'working on law school': 'law_school',
    'law school': 'law_school',
    'dropped out of law school': 'law_school',
    'working on space camp': 'space_camp',
    'graduated from space camp': 'space_camp',
    'dropped out of space camp': 'space_camp',
    'space camp': 'space_camp',
    'working on med school': 'med_school',
    'graduated from med school': 'med_school',
    'dropped out of med school': 'med_school',
    'med school': 'med_school',
    'graduated from high school': 'high_school',
    'dropped out of high school': 'high_school',
    'working on high school': 'high_school',
    'high school': 'high_school'}

In [10]:
def clean(df):
    df = df.copy()
    df['status'] = df['status'].apply(lambda x: 'married' if x == 'married' else 'single')
    df['body_type'] = df['body_type'].map(dict_body_type).fillna('other')
    df['diet'] = df['diet'].fillna('anything').str.replace('mostly ','').str.replace('strictly ','').apply(lambda x: 'vegetarian' if x == 'vegan' else x)
    df['drinks'] = df['drinks'].map(dict_drinks).fillna('no')
    df['drugs'] = df['drugs'].fillna('never')
    df['education'] = df['education'].map(dict_education)
    df['height'] = df['height'].fillna(df['height'].median()).apply(lambda x: int(x * 2.54))
    df[['city','region']] = df['location'].str.split(', ', expand=True).iloc[:,:2]
    return df
    
# col need to fillna by KNN: education, job
# col need to drop: income

In [31]:
df.isnull().sum()

age                0
status             0
sex                0
orientation        0
body_type       5296
diet           24395
drinks          2985
drugs          14080
education       6628
ethnicity       5680
height             3
income             0
job             8198
last_online        0
location           0
offspring      35561
pets           19921
religion       20226
sign           11056
smokes          5512
speaks            50
essay0          5488
essay1          7572
essay2          9638
essay3         11476
essay4         10537
essay5         10850
essay6         13771
essay7         12451
essay8         19225
essay9         12603
dtype: int64

In [34]:
df.columns

Index(['age', 'status', 'sex', 'orientation', 'body_type', 'diet', 'drinks',
       'drugs', 'education', 'ethnicity', 'height', 'income', 'job',
       'last_online', 'location', 'offspring', 'pets', 'religion', 'sign',
       'smokes', 'speaks', 'essay0', 'essay1', 'essay2', 'essay3', 'essay4',
       'essay5', 'essay6', 'essay7', 'essay8', 'essay9'],
      dtype='object')

In [50]:
col = 'ethnicity'
# print(df_clean:=clean(df)[col].value_counts().sort_index())
# print('sum of null value: ', clean(df)[col].isnull().sum())
# print('sum of value count: ', df_clean.sum())
# print()
df_raw = df[col].value_counts().sort_index()
print('sum of null value: ', df[col].isnull().sum())
print('sum of value count: ', df_raw.sum())
print(df_raw)

sum of null value:  5680
sum of value count:  54266
ethnicity
asian                                     6134
asian, black                                59
asian, black, hispanic / latin               2
asian, black, hispanic / latin, other        2
asian, black, hispanic / latin, white        2
                                         ...
pacific islander, other                     14
pacific islander, white                    156
pacific islander, white, other              18
white                                    32831
white, other                               641
Name: count, Length: 217, dtype: int64

In [15]:
df['has kids'] = df['offspring'].apply(lambda x: 'has kid' if pd.notna(x) and ('has kids' in x or 'has a kid' in x)
                                       else "doesn't have kids")
df['wants kids'] = df['offspring'].apply(lambda x: "doesn't wants kids" if pd.notna(x) and "doesn't want" in x 
                                         else 'wants kids' if pd.notna(x) and ('want them' in x or 'wants them' in x or
                                                                               'want more' in x or 'wants more' in x or
                                                                                'want kids' in x or 'wants kids' in x)
                                                                                else 'neutral')

In [16]:
df['dogs lovers'] = df['pets'].apply(lambda x: 'dislikes dogs' if pd.notna(x) and 'dislikes dogs' in x 
                                     else 'likes dogs' if pd.notna(x) and ('likes dogs' in x or 'has dogs' in x) 
                                     else 'neutral')
df['cats lovers'] = df['pets'].apply(lambda x: 'dislikes cats' if pd.notna(x) and 'dislikes cats' in x
                                    else 'likes cats' if pd.notna(x) and ('likes cats' in x or 'has cats' in x) 
                                    else 'neutral')
df['dogs owners'] = df['pets'].apply(lambda x: 'has cats' if pd.notna(x) and 'has dogs' in x else "doesn't have dogs")
df['cats owners'] = df['pets'].apply(lambda x: 'has cats' if pd.notna(x) and 'has cats' in x else "doesn't have dogs")

In [17]:
df[['sign_1', 'sign_attitude']] = df['sign'].str.split(' ', n=1, expand=True)
df[['religion_1', 'religion_attitude']] = df['religion'].str.split(' ', n=1, expand=True)
df = df.drop(columns=['sign_attitude', 'religion_attitude'])
df['sign_1'] = df['sign_1'].fillna('other')
df['religion_1'] = df['religion_1'].fillna('no')

In [18]:
df['smokes_1'] = df['smokes'].fillna('no')
df['smokes_1'] = df['smokes_1'].apply(lambda x: 'yes' if x != 'no' else 'no')

In [19]:
df['speaks_1'] = df['speaks'].fillna('other')
speaks_split_series = pd.Series(df['speaks_1'].unique()).str.split(', ', expand=True)
speaks_all_parts = pd.Series(speaks_split_series.values.ravel()).dropna()
speaks_unique_series = speaks_all_parts.drop_duplicates().reset_index(drop=True)
language_list = speaks_unique_series.tolist()
first_words = [lang.split()[0] for lang in language_list]
language_list= list(set(first_words))
language_list
df = df.drop(columns=['speaks_1'])
for language in language_list:
    df[f'{language} speaks'] = df['speaks'].apply(lambda x: 'yes' if pd.notna(x) and language in x else 'no')

In [20]:
df['ethnicity_1'] = df['ethnicity'].fillna('other')
ethnicity_split_series = pd.Series(df['ethnicity_1'].unique()).dropna().str.split(', ', expand=True)
ethnicity_all_parts = pd.Series(ethnicity_split_series.values.ravel()).dropna()
ethnicity_unique_series = ethnicity_all_parts.drop_duplicates().reset_index(drop=True)
ethnicity_list = ethnicity_unique_series.tolist()
df = df.drop(columns=['ethnicity_1'])
for ethnicity in ethnicity_list:
    df[f'{ethnicity}'] = df['ethnicity'].apply(lambda x: 'yes' if pd.notna(x) and ethnicity in x else 'no')

C:\Users\ben\AppData\Local\Temp\ipykernel_7400\2928380256.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['ethnicity_1'] = df['ethnicity'].fillna('other')
C:\Users\ben\AppData\Local\Temp\ipykernel_7400\2928380256.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{ethnicity}'] = df['ethnicity'].apply(lambda x: 'yes' if pd.notna(x) and ethnicity in x else 'no')
C:\Users\ben\AppData\Local\Temp\ipykernel_7400\2928380256.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{ethnicity}'] = df['ethnicity'].apply(lambda x: 'yes' if pd.notna(x) and ethnicity in x else 'no')
C:\Users\ben\AppData\Local\Temp\ipykernel_7400\2928380256.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{ethnicity}'] = df['ethnicity'].apply(lambda x: 'yes' if pd.notna(x) and ethnicity in x else 'no')
C:\Users\ben\AppData\Local\Temp\ipykernel_7400\2928380256.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{ethnicity}'] = df['ethnicity'].apply(lambda x: 'yes' if pd.notna(x) and ethnicity in x else 'no')
C:\Users\ben\AppData\Local\Temp\ipykernel_7400\2928380256.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{ethnicity}'] = df['ethnicity'].apply(lambda x: 'yes' if pd.notna(x) and ethnicity in x else 'no')
C:\Users\ben\AppData\Local\Temp\ipykernel_7400\2928380256.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{ethnicity}'] = df['ethnicity'].apply(lambda x: 'yes' if pd.notna(x) and ethnicity in x else 'no')
C:\Users\ben\AppData\Local\Temp\ipykernel_7400\2928380256.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{ethnicity}'] = df['ethnicity'].apply(lambda x: 'yes' if pd.notna(x) and ethnicity in x else 'no')
C:\Users\ben\AppData\Local\Temp\ipykernel_7400\2928380256.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{ethnicity}'] = df['ethnicity'].apply(lambda x: 'yes' if pd.notna(x) and ethnicity in x else 'no')
C:\Users\ben\AppData\Local\Temp\ipykernel_7400\2928380256.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{ethnicity}'] = df['ethnicity'].apply(lambda x: 'yes' if pd.notna(x) and ethnicity in x else 'no')

In [21]:
df.to_csv('okcupid_profiles_output.csv', index=False)